
* {
    font-family: 'Roboto' !important;
}

body {
    background-color: #1f1f1f;
}

.main .main-row .left-col {
    padding: 0;
}

.main .main-row .left-col .left-panel {
    background-color: #0B193F;
    height: 100vh;
}

.main .main-row .left-col .left-panel .logo-box {
    padding-top: 40px;
}

.main .main-row .left-col .left-panel .logo-box .center-logo {
    margin: auto;
    height: 106px;
    width: 106px;
    border-radius: 20px;
}

.main .main-row .left-col .left-panel .upload-list-div {
    margin-top: 50px;
}

.main .main-row .left-col .left-panel .upper-list li {
    margin-left: 20px;
    text-decoration: none;
    background-color: #0B193F;
    border: none;
    border-radius: 0%;
}

.main .main-row .left-col .left-panel .upper-list a:hover {
    color: #00C2FF !important;
    text-decoration: none;
}

.main .main-row .left-col .left-panel .upper-list #upload-music {
    color: #00C2FF;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

.main .main-row .left-col .left-panel .upper-list #all-songs {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 25px;
}

.main .main-row .left-col .left-panel .playlist-div {
    margin-top: 50px;
}

.main .main-row .left-col .left-panel .playlist-div .playlist-list li {
    margin-left: 20px;
    text-decoration: none;
    background-color: #0B193F;
    border: none;
    border-radius: 0%;
}

.main .main-row .left-col .left-panel .playlist-div .playlist-list a:hover {
    color: #00C2FF !important;
    text-decoration: none;
}

.main .main-row .left-col .left-panel .playlist-div .playlist-list #create-playlist {
    color: #00C2FF;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px;
}

.main .main-row .left-col .left-panel .playlist-div .playlist-list #playlist1, #playlist2, #playlist3, #playlist4 {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 25px;
}

.main-row .right-col .songs-row {
    background-color: #0278E8;
    height: 100vh;
}

.main-row .right-col .songs-col {
    height: 100vh;
    padding-left: 0% !important;
    padding-right: 0% !important;
}

.main-row .right-col .songs-row .songs-col .search {
    height: 80px;
    background-color: #0278E8;
    padding-top: 17px;
    margin-top: 25px;
    margin-bottom: 150px;
    padding-left: 20px;
}

.main-row .right-col .songs-row .songs-col .search #search-field {
    width: 300px;
    padding: 7px 7px;
    border-color: #9C9C9C;
    border: 2px solid;
    border-radius: 0%;
    background-color: #0278E8;
    margin-bottom: 50px;
    color: #fff;
}

.main-row .right-col .songs-row .songs-col .search h2 {
    color: #fff;
}

.main-row .right-col .songs-row .songs-col .search #search-field::placeholder {
    color: #fff;
}

.main-row .right-col .songs-row .songs-col .table-panel {
    height: 400px;
    margin-top: 100px;
}

.main-row .right-col .songs-row .songs-col .table-panel table {
    color: #fff;
    width: 100%;
    height: 350px;
    background-color: #0278E8;
}

.main-row .right-col .songs-row .songs-col .table-panel table thead {
    height: 50px;
    margin-bottom: 30px;
}

.main-row .right-col .songs-row .songs-col .table-panel table tbody tr button {
    margin-left: 15px;
}

.main-row .right-col .songs-row .songs-col .table-panel table th{
    width: 50px;
}

.main-row .right-col .songs-row .songs-col .music-controls-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 190px;
    width: 100%;
    background-color: #0B193F;
}

.main-row .right-col .songs-row .songs-col .music-controls-panel .music-control-box {
    width: 900px;
    height: 80px;
    margin: 60px auto;
}

.main-row .right-col .songs-row .songs-col .music-controls-panel .music-control-box .progress {
    height: 5px;
    border-radius: 2%;
}

.main-row .right-col .songs-row .songs-col .music-controls-panel .music-control-box .progress .music-progress {
    width: 100%;
    height: inherit;
    margin-bottom: 12px;
    appearance: none;
}

.main-row .right-col .songs-row .songs-col .music-controls-panel .music-control-box .progress .music-progress::-webkit-progress-value {
    background-color: #00C2FF;
}


/* upload music modal */

.upload-music-modal {
    margin-top: 15%;
}

.upload-music-modal .upload-music-dialog .upload-content {
    border-radius: 0%;
    border: none;
    background-color: #0B193F;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-title {
    color: #fff;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-body {
    background-color: #0278E8;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 35px;
    height: 106px;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-body label {
    color: #fff;
    font: 17px;
    margin: 25px 35%;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-footer .btn-upload {
    width: 116px;
    height: 35px;
    border: none;
    border-radius: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #1181EA;
    margin-right: 10px;
}

.upload-music-modal .upload-music-dialog .upload-content .upload-footer .btn-cancel {
    width: 116px;
    height: 35px;
    border: 1.5px solid #D1D1D1;
    border-radius: none;
    color: #fff;
    font-size: 16px;
    background-color: #0B193F;
}

.upload-music-modal .upload-music-dialog .upload-content .modal-header, .modal-body, .modal-footer {
    border: none !important;
}


/* create playlist modal */

.create-playlist-modal {
    margin-top: 15%;
}

.create-playlist-modal .create-playlist-dialog .playlist-content {
    border-radius: 0%;
    border: transparent;
    background-color: #0B193F;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-title {
    color: #fff;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-body .playlist-input {
    border-radius: 0%;
    border: 1px solid #000;
    background-color: #0278E8;
    color: #fff;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-footer .btn-create {
    width: 116px;
    height: 35px;
    border: none;
    border-radius: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #1181EA;
    margin-right: 10px;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-footer .btn-cancel {
    width: 116px;
    height: 35px;
    border: 1.5px solid #d1d1d1;
    border-radius: none;
    color: #fff;
    font-size: 16px;
    background-color: #0B193F;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-body {
    border-top: none !important;
}

.create-playlist-modal .create-playlist-dialog .playlist-content .playlist-header, .playlist-body, .playlist-footer {
    border: none !important;
}


