body{
    background: linear-gradient(
        to bottom,
        blue 0%,
        blue 26%,
        white 26%,
        white 100%
    )
   
}
a{
    color: white;
    font: bold;
}
.menu li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 50px;  
    color: black; 
    font-weight: bold;
    
}
p{
    font: 14pt Arial;
    padding-left: 10px;
    text-align: left;
    width: 800px;
}
h1{ 
    color: rgb(255, 255, 255);
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30pt;
    padding-bottom: 30px;
}
img{
    float: right;
    padding-bottom: 8em;
  
}

